
    
    <!-- needed to keep footer at bottom -->

    <header class="row">
      <div class="large-12 columns text-center">
       <h1>Berlin Manuscript</h1>
      </div>
    </header>

     <section class="row">
      <div class="large-8 large-offset-2 columns">

<!--       <img src="/img/hours_cropped.jpg"> -->
        <h4 id="#sub-header">Coming soon.</h4>
          <div class="footer" id="special-footer">
      <hr>
    </div>
      </div>

    </section>