
<!DOCTYPE html>
<html class="biblio" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Huon d'Auvergne Bibliography"/>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Huon Bibliography</title>
    </head>

<body>

<div class="container">

	<div class="row">

	<div class="1"></div>
		
	</div>

	<div class="row">

		<div class="10">

			<div class="bibl-section">

			<h1 class="biblio">Complete Bibliography for <em>Huon d'Auvergne</em></h1>

			</div>
		</div>

		<div class="bibl-section">

			<h2 class="biblio">&#10081; Manuscripts</h2>

			<ol class="biblio">
					<li class="biblio">Huon d’Auvergne. 1341. Kupferstichkabinett 78 D 8 (olim Ms. Hamilton 337). Berlin.</li>
					<li class="biblio">Huon d’Auvergne. N.d. Biblioteca del seminario Ms. 32. Padua.</li>
					<li class="biblio">Huon d’Auvergne. N.d. Biblioteca dell’Archiginnasio B. 3429. Bologna.</li>
					<li class="biblio">Huon d’Auvergne. 1441. Biblioteca Nazionale N.III.19. Turin.</li>
					<li class="biblio">Michelagnolo (Michelangelo) da Volterra. Huon d'Auvergne. 1487-88. Biblioteca Laurenziana. Med. Palat. 82.</li>
			</ol>

		</div>

		<div class="bibl-section">

			<h2 class="biblio">&#10081; Reference works</h2> 

			<p class="biblio">(In <b>BOLD</b> are standard abbreviations used in the field for reference, though entries are listed by authors' or editors' last names, by US MLA 8th edition conventions)</p>

			<ol class="biblio">
					<li class="biblio">Accademia della Crusca. <cite>Vocabolario della Crusca</cite>. 11 vols. Galileiana M. Cellini,1863-19. http://vocabolario.signum.sns.it/</li>
					<li class="biblio"><b>ARLIMA </b>(Archives de littérature du moyen âge). Dir. Laurent Brun, Université d’Ottawa.http://www.arlima.net/. Last consulted 21 November 2012.</li>
					<li class="biblio"><b>ARTFL</b> (American and French Research on the Treasury of the French Language). Dir. Robert Morrissey. http://artfl-project.uchicago.edu/ ). Last consulted 21 November 2012. DEAF Baldinger, Kurt, et al.</li>
					<li class="biblio"><b>DEAF</b>: <cite>Dictionnaire étymologique de l’ancien français</cite>. Niemeyer, 1974-. http://www.deaf-page.de/index.htm</li>
					<li class="biblio">Battaglia, Salvatore. <cite>Grande dizionario della lingua italiana</cite>. 21 vols. Gen. Ed., Giorgio Bárberi Squarotti. UTET, 1961-.</li>
					<li class="biblio"><b>DEI</b> Battisti, Carlo, and G. Alessio. <cite>Dizionario etimologico italiano</cite>. G. Barbera, 1950-57.</li>
					<li class="biblio"><b>TLIO</b> Beltrami, Pietro G., dir. <cite>Tesoro della Lingua Italiana delle Origini</cite>. http://tlio.ovi.cnr.it/TLIO/ (part of ARTFL databases (http://artfl-project.uchicago.edu/content/ovi-search-form in the US).</li>
					<li class="biblio">Bloch, O., and W. von Wartburg. <cite>Dictionnaire étymologique de la langue française</cite>. 2 vols. PUF, 1932.</li>
					<li class="biblio">Bourgain, Pascale, and Françoise Vieillard. <cite>Conseils pour l’édition des textes médiévaux</cite>. Fascicule III: Textes littéraires. Éd. du CTHS, École des chartes, 2002.</li>
					<li class="biblio">Brambilla Ageno, Franca. <cite>L'Edizione critica dei testi volgari</cite>. Antenore, 1975.</li>
					<li class="biblio">DELI Cortelazzo, Manlio, and Paolo Zolli. <cite>Dizionario etimologico della lingua italiana</cite>. Zanichelli, 1979-85.</li>
					<li class="biblio">Desole, Corinna. <cite>Repertorio ragionato dei personaggi citati nei principali cantari cavallerschi italiani</cite>. Edizioni dell’Orso, 1995.</li>
					<li class="biblio">DuCange, Domino, et. al. <cite>Glossarium mediæ et infimæ latinitatis</cite>. L. Favre, 1883-1887.</li>
					<li class="biblio"><b>FIOLA</b> (Franco-Italian on-line Archive). Dir. Leslie Zarker Morgan and David P. Bénéteau. http://loyolanotredamelib.org/fiola/. Last consulted 21 November 2012.</li>
					<li class="biblio">Flutre, Ferdinand. <cite>Table des noms propres avec toutes leur variantes, figurant dans les romans du moyen âge écrits en français ou en provençal et actuellement publiés ou analysés</cite>. Champion, 1966.</li>
					<li class="biblio">Foulet, Alfred, and Mary Blakely Speer. <cite>On Editing Old French Texts</cite>. Regents Press of Kansas, 1979.</li>
					<li class="biblio">Godefroy, Frédéric. <cite>Dictionnaire de l’ancienne langue française et de toutes ses dialectes, du IXe au XVe s</cite>. 10 vols. F. Vieweg, 1880-1902. Rep. Kraus.</li>
					<li class="biblio">Greimas, Algirdas Julien. <cite>Dictionnaire de l’ancien français</cite>. Larousse, 1992. (multiple editions).</li>
					<li class="biblio">Hindley, Alan, Frederick W. Langley, and Brian J. Levy. <cite>Old French-English Dictionary</cite>. Cambridge UP, 2006.</li>
					<li class="biblio">Lepage, Yvan G. <cite>Guide de l’édition de textes en ancien français</cite>. Champion, 2001.</li>
					<li class="biblio"><b>REW</b> Meyer-Lübke, Wilhelm. <cite>Romanisches etymologisches Wörterbuch</cite>. Winter, 1911 (and other editions). Available through http://archive.org/details/romanischesetymo00meyeuoft.</li>
					<li class="biblio">Modern Language Association of America. <cite>Guidelines for Editors of Scholarly Editions</cite>. Revised 29 June 2011. http://www.mla.org/Guidelines for Editors of Scholarly Editions. Last consulted 08/09/2017.</li>
					<li class="biblio">Moisan, André. <cite>Répertoire des noms propres de personnes et de lieux cités dans les chansons de geste françaises et les œuvres étrangères dérivées</cite>. 5 vols. Massot, 1986.</li>
					<li class="biblio"><b>LEI</b> Pfister, Max, et al. <cite>Lessico etimologico italiano</cite>. Reichert, 1984-.</li>
					<li class="biblio">Pope, Mildred K. <cite>From Latin to Modern French with Especial Consideration of Anglo-Norman</cite>. Phonology and Morphology. Manchester UP, 1934.</li>
					<li class="biblio"><b>RIALFrI</b> (<cite>Repertorio informatizzato antica letteratura franco-italiana</cite>). Dir. Francesca Gambino, Università di Padova. http://www.rialfri.eu/rialfriWP/. Last consulted 21 November 2012.</li>
					<li class="biblio">Rohlfs, Gerhard. <cite>Grammatica storica della lingua italiana e dei suoi dialetti</cite>. 3 vols. Einaudi, 1966.</li>
					<li class="biblio">Tobler, Adolf. <cite>Altfranzösisches Wörterbuch</cite>. Wiesbaden: Franz Steiner, 1969. Electronic version includes eds. Peter Blumenthal and Achim Stein. 2002.</li>
					<li class="biblio"><b>TL</b> Tobler, Adolf, and Lommatzsch, E. Französisches etymologisches Wörterbuch. Franz Steiner, 1954- 63. (Sample at http://www.uni-stuttgart.de/lingrom/stein/tl/work/workfr.htm.)</li>
					<li class="biblio">Vieillard, Françoise, and Olivier Guyotjeannin, eds. <cite>Conseils pour l’édition des textes médiévaux</cite>. I. Fascicule I: conseils généraux. Paris: Éd. du CTHS: École des chartes, 2001.</li>
					<li class="biblio"><b>FEW</b> Wartburg, Walther von. <cite>Französisches etymologisches Wörterbuch</cite>. 25 vols. + Supp. F. Klopp, 1921-.</li>
					<li class="biblio">Zaccarello, Michelangelo. <cite>L'edizione critica del testo letterario. Primo corso di filologia italiana</cite>. Le Monnier, 2017.</li>
			</ol>

		</div>

		<div class="bibl-section">

			<h2 class="biblio">&#10081; Secondary material: modern editions and critical literature</h2>

			<ol class="biblio">
					<li class="biblio">Allaire, Gloria. "Considerations on Huon d'Auvergne / Ugo d'Alvernia." <cite>Viator</cite> 32 (2001): 185-203.</li>
					<li class="biblio">Andrea da Barberino. <cite>Storia d'Ugone d'Alvernia</cite>. Ed. F. Zambrini. Romagnoli, 1882. rpt. Commissione per i testi di lingua, 1968.</li>
					<li class="biblio">Anglade, J. "Notice sur un manuscrit de Ugo d'Alvernia." <cite>Romania</cite> 45 (1918-19): 108-116.</li>
					<li class="biblio">Bartholomaeis, Vincenzo de. “La Discesa di Ugo d'Alvernia all'inferno secondo il frammento di Giovanni Maria Barbieri.” <cite>Memorie. Classe di Scienze morali. Sezione di scienze storico- filologiche e sezioni di scienze giuridiche. Reale accademia delle scienze dell'Istituto di Bologna</cite>. Ser. 2, Vol. 10, Ser. 3 Vol 3. (1929): 3-54.</li>
					<li class="biblio">Bédier, Joseph, ed. <cite>Le Lai de l'Ombre par Jean Renart</cite>. Fribourg, 1890.</li>
					<li class="biblio">Bédier, Joseph, ed. <cite>Le Lai de l'Ombre par Jean Renart</cite>. SATF. Paris, 1907.</li>
					<li class="biblio">Bennett, Philip. "Guillaume d'Orange: Fighter of Demons and Harrower of Hell." <cite>Myth and Legend in French Literature. Essays in Honour of A. J. Steele</cite>. Ed. Keith Aspley, David Bellos, Peter Sharratt. The Modern Humanities Research Association, 1982. 24-46.</li>
					<li class="biblio">Bernstein, Alan E. <cite>The Formation of Hell. Death and Retribution in the Ancient and Early Christian Worlds</cite>. Cornell, 1993.</li>
					<li class="biblio">Bernstein, Alan E. <cite>Hell and Its Rivals. Death and Retribution among Christians, Jews, and Muslims in the Early Middle Ages</cite>. Cornell, 2017.</li>
					<li class="biblio">Borroni, Fabia. <cite>Le Carte Rajna della Biblioteca Marucelliana. Catalogo e Bibliografia</cite>. Sansoni, 1956. [lists Rajna=s transcription of Torino ms.]</li>
					<li class="biblio">Braghirolli, Willelmo, Gaston Paris, and Paul Meyer. "Inventaire des manuscrits en langue française possédés par Francesco Gonzaga I, capitaine de Mantoue, mort en 1407." <cite>Romania</cite> 9 (1880): 497-514.</li>
					<li class="biblio">Breeze, Andrew. "Sir John Paston on 'Ser Hughe Lavernoys'." <cite>Notes and Queries</cite> 48 (2001): 10-11.</li>
					<li class="biblio">Dante Alighieri. <cite>Commedia</cite>. Ed. Robert M. Durling and Ronald L. Martinez. 3 vols. Oxford UP, 1996- 2003-2011.</li>
					<li class="biblio">Dante Alighieri. <cite>Monarchia</cite>. Eng: On World Government. Trans. Herbert W. Schneider. Macmillan/Library of Liberal Arts, 1957.</li>
					<li class="biblio">Debenedetti, Santorre. "Intorno al testo del frammento Barbieri dell'Ugone d'Alvernia." <cite>Archivum Romanicum</cite> 14 (1930): 269-73.</li>
					<li class="biblio">Gardner, Eileen. <cite>Medieval Visions of Heaven and Hell</cite>. A Sourcebook. Garland Medieval Bibliographies, 1993.</li>
					<li class="biblio">Giacon, Carla. "La redazione padovana dell'<cite>Huon d'Auvergne</cite>: Studio, Edizione, Glossario." Diss. Università degli studi, Padova. 1960-61.</li>
					<li class="biblio">Everson, Jane E. <cite>The Italian Romance Epic in the Age of Humanism. The Matter of Italy and the World of Rome.</cite> Oxford: U P, 2001.</li>
					<li class="biblio">Graf, A. “Di un poema inedito di Carlo Martello e di Ugo conte d'Alvernia.” Giornale di Filologia Romanza 1 (1878): 92-110.</li>
					<li class="biblio">Holden, Anthony J. Rev. of Günter Holtus, ed. <cite>La Versione franco-italiana della ‘Bataille d’Aliscans’: Codex Marcianus fr. VIII (=252)</cite>. Tübingen: Niemeyer, 1985. Medium Ævum 56.2 (1987): 332- 34.</li>
					<li class="biblio">Holtus, Günter. "Considerazioni sulla lingua dell’« Huon d’Auvergne» (B, T, P)." <cite>Cultura dell’Italia padana e la presenza francese nei secoli XIII-XV</cite>. (Pavia, 11-14 settembre 1994). Ed. Luigina Morini. Edizioni dell’Orso, 2001. 41-54.</li>
					<li class="biblio">Holtus, Günter. "Ist das Franko-Italienische eine Sprache oder ein Dialekt?" <cite>Beiträge zum romanischen Mittelalter</cite>. Ed. Kurt Baldinger. Niemeyer, 79-97.</li>
					<li class="biblio">Holtus, Günter. <cite>Lexikalische Untersuchungen zur Interferenz: die franko-italienische Entrée d’Espagne</cite>. Niemeyer, 1979.</li>
					<li class="biblio">Holtus, Günter. "Les problèmes posés par l’édition de textes franco-italiens. À propos de quelques leçons problématiques de V 4, V 8, et d’autres manuscrits." <cite>Au Carrefour des routes d’Europe: La chanson de geste. Xe Congrès international de la Société Rencesvals pour l’étude des épopées romanes</cite>. Strasbourg 1985. Cuer Ma, 1987. Vol. 2, 675-96.</li>
					<li class="biblio">Holtus, Günter, ed. <cite>La Versione franco-italiana della ‘Bataille d’Aliscans’: Codex Marcianus fr. VIII (=252)</cite>. Niemeyer, 1985. Beihefte zur Zeitschrift für romanische Philologie 205.</li>
					<li class="biblio">Holtus, Günter, and Peter Wunderli. <cite>Les Épopées Romanes</cite>. Dir. Rita Lejeune, Jeanne Wathelet-Willem, Henning Krauss. Tome 1 / 2, Fascicule 10. Grundriss der romanischen Literaturen des Mittelalters 10. Franco-italien et épopée franco-italienne. Winter, 2005.</li>
					<li class="biblio">Krauss, Henning. <cite>Epica feudale e pubblico borghese. Per la storia poetica di Carlomagno in Italia</cite>. Trans. Andrea Fassò. Liviana Editrice, 1980.</li>
					<li class="biblio">Ludovisi, Idido. <cite>L'Ugo d'Alvernia secondo il codice franco-italiano della biblioteca vescovile di Padova</cite>. Mele, 1895.</li>
					<li class="biblio">Mainone, Friedrich. <cite>Formenlehre und Syntax in der Berliner franco-venezianischen Chanson de geste von Huon d'Auvergne</cite>. Verlag Robert Noske, Borna Bez, 1936.</li>
					<li class="biblio">Mainone, Friedrich. <cite>Laut- und Formenlehre in der Berliner franco-venezianischen Chanson de geste von Huon d'Auvergne</cite>. Erster Teil: Reimprüfung und Lautlehre. Inaugural-Dissertation zur Erlangung der Doktorwürde. Berlin: Universitäts Buchdruckerei von Gustav Schade, 1911.</li>
					<li class="biblio">Martin da Canal. <cite>Les estoires de Venise: cronaca veneziana in lingua francese dalle origini al 1275</cite>. Ed. Alberto Limentani. Florence: L.S. Olschki, 1972.</li>
					<li class="biblio">McCormick, Stephen P. "The ‘Franco-Italian’ Epic in Medieval Lombardia." Diss. U of Oregon, 2011.</li>
					<li class="biblio">McCormick, Stephen P. <cite>The Manuscript Tradition and Reception of the Huon d’Auvergne, a Franco-Italian romance-epic</cite>. The French of Italy.</li>
					<li class="biblio">McCormick, Stephen P. "Peregrinatio animae: Cartographic Spaces and Epistemological Debates in the Franco-Italian Huon d'Auvergne." <cite>Francigena</cite> 3 (2017): 79-109.</li>
					<li class="biblio">McCormick, Stephen P. "Les humanités numériques et la tradition manuscrite de Huon d'Auvergne." <cite>Actes du XXème Congrès
					International de la Société Rencesvals pour l'Étude des Épopées Romanes (Rome, Università di Roma- La
					Sapienzia, 20-24 juillet 2015)</cite>. Eds. Maria Careri, Caterina Menichetti, and Maria Teresa Rachetta. Naples: Viella, 2017, pp. 571-78.</li>
					<li class="biblio">McCormick, Stephen P. "A Contextual Analysis of Two Franco-Italian Manuscripts of the Huon d'Auvergne Romance Epic."
					<cite>Digital Philology</cite> 5.2 (2016): 208-27.</li>
					<li class="biblio">McCormick, Stephen P. "Como fa la foja: Versions of Female Authority in the Huon d'Auvergne Manuscript Tradition." <cite>Italian
					Studies</cite> 70.1 (2015): 33-52.</li>
					<li class="biblio">McCormick, Stephen P. “Cartography and Epic in Florentine Humanism and Andrea da Barberino’s Ugone d’Alvernia.” <cite>Viator</cite>
					45.3 (2014): 339-62.</li>
					<li class="biblio">Meregazzi, Luisa A. "L'episodio del Prete Gianni nell'Ugo d'Alvernia." <cite>Studi romanzi</cite> 26 (1935): 5-69.</li>
					<li class="biblio">Meregazzi, Luisa A. "L'Ugo d'Alvernia: Poema Franco-Italiano." <cite>Studi romanzi</cite> 27 (1937): 5-87.</li>
					<li class="biblio">Millardet, G. "Rev: F. Mainone, Laut- und Formenlehre in der Berliner franco-venezianischen Chanson de geste von Huon d'Auvergne. Erster Teil: Reimprüfung und Lautlehre. Inaugural-Dissertation zur Erlangung der Doktorwürde. Berlin: Universitäts Buchdruckerei von Gustav Schade, 1911." <cite>Revue des langues modernes</cite> 55 (1912): 125-128.</li>
					<li class="biblio">Möhren, Frank Walt. «Huon d'Auvergne» / «Ugo d'Alvernia» : Objet de la lexicographie française ou italienne?" <cite>Medioevo Romanzo</cite> 4 (1977): 312-325.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Les deux Romes de Huon d'Auvergne et le bon gouvernement.” In «Par deviers Rome m’en renvenrai errant»: <cite>Atti del XXème Congrès International de la Societé Rencesvals pour l’étude des épopées romanes</cite> (Rome, Italy, 20-25 July 2015). Ed. M. Careri, C. Menichetti, T. Rachetta. Viella, 2017. 579-91.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Le Roman d'Alexandre dans Huon d'Auvergne: tourisme et truismes dans une épopée du XIVe siècle.” In <cite>Epic Connections / Rencontres épiques Proceedings of the Nineteenth International Conference of the Société Rencesvals, Oxford, 13–17 August 2012</cite>. Ed. Marianne J. Ailes, Philip E. Bennett and Anne Elizabeth Cobby. Société Rencesvals British Branch Publications 7. Société Rencesvals British Branch, 2015. 509-27.</li>
					<li class="biblio">Morgan, Leslie Zarker. "Si sai encor moult bon estoire, Chançon moult bone et anciene": <cite>Studies in the Text and Context of Old French Narrative in Honour of Joseph J. Duggan</cite>. Co-editor with Sophie Marnette and John F. Levy. The Society for the Study of Medieval Languages and Literature, 2015.</li>
					<li class="biblio">Morgan, Leslie Zarker. “War is Hell (for Saracens): A Footnote to Aspremonts Afterlife in Italy.” In <cite>“Moult a sans et vallour”: Studies in Medieval French Literature in Honor of William W. Kibler</cite>. Ed. Monica L. Wright, Norris J. Lacy, and Rupert T. Pickens. Rodopi, 2012. 289-304.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Les Avatars de Guibourc II. Orable, Guibourc, Tiborga : Métamorphose d’une protagoniste littéraire française en Italie.” In <cite>In limine Romaniae : chanson de geste et épopée européenne, Actes du XVIIIe Congrès international de la Société Rencesvals pour l’étude des épopées romanes (20-24 juillet 2009)</cite>. Éd. Carlos Alvar and Constance Cecile Carta. Peter Lang, 2011. 355-74.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Literary Afterlives in Huon d'Auvergne: ‘The Art of [Dantean] Citation.’” In <cite>“Accessus ad auctores”: Studies in Honor of Christopher Kleinhenz</cite>. Ed. Fabian Alfie and Andrea Dini. ACMRS, 2011. 61-74.</li>
					<li class="biblio">Morgan, Leslie Zarker, ed. <cite>‘La Geste Francor’: Chansons de geste of Ms. Marc. Fr. XIII (=256). Edition with glossary, introduction and notes</cite>. 2 vols. Medieval and Renaissance Texts and Studies, 2009.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Le merveilleux destin de Guiborc d'Orange.” In <cite>Epic Studies: Acts of the Seventeenth International Congress of the Société Rencesvals for the Study of Romance Epic, July 22-28, 2006</cite>. Co-editor with Anne Berthelot (U. of Ct., Storrs), et. al. Special issue Olifant 25 (2006), 1-2 [2008]. 321-37.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Ynide and Charles Martel. Turin, Biblioteca Nazionale N III 19, Folios 72R-89R.” <cite>Medioevo</cite> Romanzo 29 (2005): 433-54; 31 (2007): 70-110.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Chrétien de Troyes comme sous-texte de Huon d’Auvergne?” In <cite>Les Chansons de Geste. Actes du XVIe Congrès International de la Société Rencesvals, pour l’Étude des Épopées Romanes</cite>. Granada, 21-25 juillet 2003. Ed. C. Alvar et J. Paredes. Editorial Universidad de Granada, 2005. 649-63.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Nida and Carlo Martello: The Padua Manuscript of Huon d’Auvergne (Ms. 32 of the Biblioteca del Seminario Vescovile, 45R-49V).” <cite>Olifant</cite> 23 (2004): 65-114.</li>
					<li class="biblio">Morgan, Leslie Zarker. “Dirige gressus meos: The Dialectic of Obedience in Huon d'Auvergne.” <cite>Neophilologus</cite> 88 (2004): 19-32.</li>
					<li class="biblio">Morgan, Leslie Zarker. “The Passion of Ynide: Ynide's Defense in Huon d'Auvergne (Berlin, Staatsbibliothek, Hamilton 337) (I), (II).” <cite>Medioevo Romanzo</cite> 27 (2003): 67-85; 425-62.</li>
					<li class="biblio">Morgan, Leslie Zarker.“Female enfances: At the Intersection of Romance and Epic.” In <cite>The Court Reconvenes: Courtly Literature Across the Disciplines. Selected Papers from the 9th Triennial Congress of the International Courtly Literature Society, University of British Columbia, Vancouver, 25-31 July 1998</cite>. Ed. C. W. Carroll and B. K. Altmann. Boydell and Brewer, 2003. 141-49.</li>
					<li class="biblio">Morgan, Leslie Zarker. <cite>Franco-Italian and Italian Romance Epic</cite>. Co-editor with Nancy Bradley-Cromey. Special issue <cite>Olifant</cite> 21 (1996).</li>
					<li class="biblio">Owen, D.D.R. <cite>The Vision of Hell: Infernal Journeys in Medieval French Literature</cite>. Barnes and Noble, 1970.</li>
					<li class="biblio">Rajna, Pio. Transcription of Padua Biblioteca del Seminario Vescovile Cod. 32 Biblioteca Marucelliana, Florence, Carte Rajna XII.M.101. Sala consultazione manoscritti e rari.</li>
					<li class="biblio">Rajna, Pio. Transcription of Torino N.III.19. Biblioteca Marucelliana, Florence, Carte Rajna XIX.15. Sala consultazione manoscritti e rari.</li>
					<li class="biblio">Renier, Rodolfo, ed. <cite>La Discesa di Ugo d'Alvernia allo inferno secondo il codice franco-italiano della Nazionale di Torino</cite>. Gaetano Romagnoli, 1883.</li>
					<li class="biblio">Scattolini, Michela. "Interpretazioni delle varianti e dinamiche della tradizione: l'episodio della discesa all'inferno nell'Huon d'Auvergne." In <cite>Codici, testi, interpretazioni: studi dell'epica romanza medievale.</cite>Ed. Paolo di Luca and Doriana Piacentino. Naples: Photocity Edizioni University Press, 2015. 141-60.</li>
					<li class="biblio">Scattolini, Michela G. "Ricerche sulla tradizione dell’Huon d’Auvergne." Diss. Siena Scuola di dottorato europea in filologia romanza, 2010.</li>
					<li class="biblio">Schwam-Baird, Shira. "La Résistance d'Ynide dans l'épopée franco-italienne Huon d'Auvergne : femme exceptionnelle / femme admirable?" «Par deviers Rome m’en renvenrai errant»: <cite>Atti del XXème Congrès International de la Société Rencesvals pour l'étude des épopées romanes</cite>. Eds. Maria Careri, Caterina Menichetti et Maria Teresa Rachetta. Rome: Viella, 2017. 637-646.</li>
					<li class="biblio">Schwam-Baird, Shira. "La longue vie de Valentin et Orson." <cite>Pour un nouveau répertoire des 'mises en prose' roman, chanson de geste, autres genres</cite>. Eds. Maria Colombo Timelli, Barbara Ferrari et Anne Schoysman. Paris : Classiques Garnier, 2014. 297-306.</li>
					<li class="biblio">Schwam-Baird, Shira. "Translation in the Late Fifteenth Century: Octovien de Saint-Gelais's L'ystoire de Eurialus et Lucresse." <cite>Medieval Perspectives</cite> 26 (2011 [2012]), 77-88.</li>
					<li class="biblio">Schwam-Baird, Shira, ed. <cite>Valentin et Orson: An Edition and Translation of the Fifteenth-Century Romance Epic</cite>. Tempe, AR: ACMRS (Arizona Center for Medieval and Renaissance Studies), 2011. 543 pp.</li>
					<li class="biblio">Schwam-Baird, Shira. "The Letters of Lucretia and Euryalus in Text and Image: An Illuminated Manuscript of Aeneas Silvius Piccolomini's Story of Two Lovers." <cite>Medieval Perspectives</cite> 22 (2007 [2011]), 126-144.</li>
					<li class="biblio">Schwam-Baird, Shira. "The Romance Epic Hero, the Mercenary, and the Ottoman Turk Seen through the Lens of Valentin et Orson (1489)." <cite>Medievalia et Humanistica</cite> 34 (2008), 105-127.</li>
					<li class="biblio">Schwam-Baird, Shira. "A Husband to Her Liking: The Wily Saracen Queen Rozemonde in the 1489 Valentin et Orson." <cite>Olifant</cite> 26.1 (2007), 45-66.</li>
					<li class="biblio">Schwam-Baird, Shira. "Terror and Laughter in the Images of the Wild Man: The Case of the 1489 Valentin et Orson." <cite>Fifteenth Century Studies</cite> 27 (2002), 238-256.</li>
					<li class="biblio">Schwam-Baird, Shira. "King Arthur in Hollywood: The Subversion of Tragedy in First Knight." <cite>Medieval Perspectives</cite> 14 (1999), 202-213.</li>
					<li class="biblio">Schwam-Baird, Shira. "Would a Courtly Gentleman Belt a Lady? Chastity Belts (and Knots) in Marie de France's Guigemar." <cite>Mediaevalia</cite> 22.2 (1999), 323-342.</li>
					<li class="biblio">Schwam-Baird, Shira. "The Crucified Heart of René d'Anjou in Text and Image." <cite>Fifteenth Century Studies</cite> 25 (2000), 228-252.</li>
					<li class="biblio">Schwam-Baird, Shira. "Sweet Dreams: The Pursuit of Youthful Love in Jean Froissart's Joli Buisson de Jonece and René d'Anjou's Livre du Cuer d'Amours Espris." <cite>Le Moyen Français</cite> 38 (1996), 45-60.</li>
					<li class="biblio">Schwam-Baird, Shira, ed. <cite>Adam de la Halle: Le Jeu de Robin et Marion.</cite> New York: Garland Publishing Inc., 1994. 153 pp.</li>
					<li class="biblio">Stengel, Edmund. "Eine weitere Textstelle aus der franco-venezianischen Chanson de geste von Huon d'Auvergne. (Nach der Berliner und der Turiner Handschrift)." <cite>Festschrift zum 13. Neuphilologentage</cite>. C. Meyer, 1908. 35-49.</li>
					<li class="biblio">Stengel, Edmund. "Huons von Auvergne Keuschheitsprobe, Episode aus der franco-venezianischen Chanson de geste von Huon d'Auvergne nach den drei erhaltenen Fassungen, der Berliner, Turiner und Paduaner." <cite>Mélanges... Wilmotte</cite>. Champion, 1910. 2: 685-713.</li>
					<li class="biblio">Stengel, Edmund. "Karl Martels Entführung in die Hölle und Wilhem Capets Wahl zu seinem Nachfolger. Stelle aus der Chanson von Huon d'Auvergne (1) nach der Berliner Hs." <cite>Studi letterari e linguistici dedicati a Pio Rajna nel quarantesimo anno del suo insegnamento</cite>. Hoepli, 1911. 873- 91.</li>
					<li class="biblio">Stengel, Edmund. "Roms Befreiung durch Huon d'Auvergne und dessen Tod. Schlussepisode (1) der franco-venezianischen 'Chanson' von Huon d'Auvergne. Text der Berliner Handschrift, zum ersten Mal veröffentlich." <cite>Miscellanea di Studi critici in onore di V. Crescini</cite>. Fratelli Stagni, 1927. 267-90.</li>
					<li class="biblio">Stengel, Edmund. <cite>Huon's aus Auvergne Höllenfahrt Nach der Berliner und Paduaner Hs. Festschrift der Universität Greifswald</cite>. F. W. Kunike, 1908.</li>
					<li class="biblio">Stengel, Edmund. <cite>Huons aus Auvergne Suche nach dem Holleneingang nach der Berliner Hs. Festschrift der Universität Greifswald</cite>. Emil Hartmann, 1912.</li>
					<li class="biblio">Stengel, Edmund. Rev. of Floovent-Studien. Untersuchungen zur altfranzösischen Epik. By Gustav Brockstedt. Kiel: Robert Cordes, 1907. In <cite>Zeitschrift für französische Sprache und Litteratur</cite> 33 (1908): 159-163. (Includes lines 2745-2796 in a note.)</li>
					<li class="biblio">Tobler, Adolf. "Die Berliner Handschrift des Huon d'Auvergne." <cite>Sitzungsberichte der königlich preussischen Akademie der Wissenschaften zu Berlin Phil.-hist. Kl.</cite> 27 (1884): 605-20.</li>
					<li class="biblio">Vallecalle, Jean-Claude. "Les chansons de geste franco-italiennes: héritage et réinterprétation d'une tradition littéraire." In <cite>Limine Romaniae. Chanson de geste et épopée européene</cite>. Ed. Carlos Alvar et Constance Carta. Lang, 2012. 61-90.</li>
					<li class="biblio">Vitale-Brovarone, Alessandro. "De la chanson de Huon d'Auvergne à la Storia di Ugone d'Avernia d'Andrea da Barberino: techniques et méthodes de la traduction et de l'élaboration." <cite>Charlemagne et l'épopée romane. Actes du VIIe Congrès international de la Société Rencesvals</cite> (Liège 28 août - 4 septembre 1976). Ed. Madeleine Tyssens and Claude Thiry. Les Belles lettres, 1978. 2:393-403.</li>
					<li class="biblio">Vitullo, Juliann M. <cite>The Chivalric Epic in Medieval Italy</cite>. U. Press of Florida, 2000.</li>
			</ol>

		</div>

	</div>

	<div class="row">

	<div class="1"></div>

	</div>

	<div class="row">
	<div class="12">
		<%= render 'layouts/footer' %>
	</div>
	</div>

</div>

</body>

</html>