<!DOCTYPE html>
<html class="praxis" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Edition Criteria for Padua"/>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Huon Encoding Praxis</title>
    </head>

<body>
</body>
</html>