<body>
<div class="wrapper">
  <footer class="container">
    <button id="legend-button">Legend</button>
    <div id="legend-container">
      <div class="legend-1">
				italics = abbrebiation resolution
			</div>
			<div class="legend-2">
				bold = Latin quotations
			</div>
    </div>
  </footer>
</div>

<script>
var disclaimerButton = document.getElementById('legend-button');
var disclaimerContainer = document.getElementById('legend-container');
var disclaimerClose = document.getElementById('close');

disclaimerButton.onclick = function() {
  disclaimerContainer.style.display = "block";
  disclaimerButton.onclick = function() {
    disclaimerContainer.style.display = 'none';
  }
}
</script>
</body>
