    <div>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Huon d'Auvergne</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul>
            <li class=""><a href="/index.html">Huon d'Auvergne: A Digital Edition</a></li>
          </ul>
        </section>
        <section class="top-bar-section">
          <ul class="right">
            <li class="">
              <a href="/bibliography.html">Bibliography</a>
            </li>
          </ul>
        </section>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="/edition.html">Critical Editions</a>
              <ul data-options="mobile_show_parent_link: true">
                <li><a href="/b.html">Berlin (B)</a></li>
                <li><a href="/t.html">Turin (T)</a></li>
                <li><a href="/content/p.xml">Padua (P)</a></li>
                <li><a href="/content/br.xml">Barbieri Fragment (Br)</a></li>
                <li><a href="/hell_scene.html">Hell Scene Comparison</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  <!--end top bar nav-->